@model IEnumerable<Atelier2.Models.Product>

@{
    ViewBag.Title = "Liste des articles";
}
<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model)
        {
            var photoPath = "~/images/" + (product.Image ?? "noimage.jpg");
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card shadow-sm h-100">
                    <img class="card-img-top imageThumbnail" src="@photoPath" alt="Image du produit"
                         style="height: 200px; object-fit: cover;" asp-append-version="true" />
                    <div class="card-body">
                        <h5 class="card-title text-primary"><b>Designation : </b> @product.Designation</h5>
                        <p class="card-text"><b>Prix : </b>@product.Prix €</p>
                        <p class="card-text"><b>Quantité : </b> @product.Quantite</p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"
                           class="btn btn-outline-primary m-1">
                            <i class="fas fa-eye"></i> Voir
                        </a>
                        <a asp-action="Edit" asp-controller="Product" class="btn btn-outline-success m-1" asp-route-id="@product.Id">
                            <i class="fas fa-edit"></i> Modifier
                        </a>
                        <a asp-action="Delete" asp-controller="Product" class="btn btn-outline-danger m-1" asp-route-id="@product.Id">
                            <i class="fas fa-trash-alt"></i> Supprimer
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
